[build]
builder = "nixpacks"
buildCommand = "npm run build"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"

[[services]]
internal_port = 5000
protocol = "tcp"

[services.concurrency]
type = "connections"
hard_limit = 25
soft_limit = 20